<div class="countries mb-3">
  <ul class="list-group">
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center flex-"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
    <li class="countries__country list-group-item">
      <div class="row">
        <div class="col-3">
          <div
            class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center"
          >
            <h5 class="country-list__count">1234423</h5>
            <h5 class="country-list__name">USA</h5>
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex align-items-center h-100">
            <div class="country-list__chart"></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
