<div class="right-content">
  <div class="sort-container container-fluid mb-3">
    <div class="row align-items-center">
      <div class="col">
        <h5>Sort by</h5>
      </div>
      <div class="col">
        <div class="input-group">
          <select
            class="form-select"
            id="inputGroupSelect04"
            aria-label="Example select with button addon"
          >
            <option selected>Total</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div><%- include('./charts.ejs') %></div>
</div>
